.css-j5r0tf {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #3daa57;
}

.diagnosis {
  color: #ffffff;
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

.diagnosis.benign {
  background-color: #000000
}

.diagnosis.malicious {
  background-color: #c5310f
}
